.interface {
  display: inline-block;
}

/*
 *  STYLE 8 (doesn't work)
 */

.style-8::-webkit-scrollbar-track
	      {
		  border: 1px solid black;
		  background-color: #F5F5F5;
	      }

.style-8::-webkit-scrollbar
	      {
		  width: 10px;
		  background-color: #F5F5F5;
	      }

.style-8::-webkit-scrollbar-thumb
	      {
		  background-color: #000000;
	      }